html{
	font:400 14px/1.4 sans-serif;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
body{
	margin:0;
}
button,input{
	font:inherit;
}
a{
	color:#3270ff;
}
::selection{
	background: #1e67ff;
	color: #FFF;
}

.patina-box{
	
}

h1{
	margin:0;
	line-height: 3;
	padding:0 1em;
	font-family:'苹方';
	/* font-weight:1200; */
	/* color:#FFF; */
    text-shadow: 1px 1px 0 #ff658c, -1px -1px 0 #77cdc7;
}

h3,h4{
	margin:0;
}

small{
	opacity: .8;
	font-weight: normal;
	word-break: break-all;
}
small:before,
small:after{
	opacity: .5;
	margin:0 .2em;
}
small:before{
	content: '(';
}
small:after{
	content: ')';
}

.input-box{
	padding:4px 0;
}
input[type="range"]{
	width:400px;
	max-width:100%;
	margin:0;
	display: block;
}
label{
	cursor: pointer;
	
}
label input[type="checkbox"]{
	display: inline-block;
	vertical-align: middle;
	margin:0 0 .12em .4em;
}

.ctrl-box{
	padding:10px;
}

.debug-box{
	background:#EEE;
	font-size:12px;
	padding:10px;
	margin:0 -10px;
}


.output-box{
	overflow: hidden;
}
.output-box img{
	display: block;
	float: left;
	max-width:600px;
}
pre{
	font-size:12px;
	background:#222;
	color:#FFF;
	padding:6px;
	margin:0;
}
.patina-box[data-runing="true"]{
	cursor: wait;
}
.patina-box[data-runing="true"] .ctrl-box{
	pointer-events: none;
}

hr{
	border:0;
	margin:5px 0;
	padding:0;
	border-top:1px solid #CCC;
}

.tip-box{
	border-top:1px solid #EEE;
	margin:20px 0;
	padding:20px 20px;
}
.tip-box ul{
	margin:4px 0;
	padding:0;
	font-size:12px;
	list-style-type: none;
}
.tip-box ul li{
	margin:.6em 0;
	padding:0;
	line-height:1.2;
}
.tip-box small{
	display: block;
	font-size:.8em;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	opacity: .5;
	
}
.tip-box small:before,
.tip-box small:after{
	display:none;
}




@media(max-width:1200px){
	.output-box{
		cursor: pointer;
		position: relative;
		z-index:0;
	}
	.output-box img{
		margin:0 auto;
		max-width:100vw;
	}
	.source-image{
		pointer-events: none;
		position: absolute;
	}
	.output-image{
		display: block;
		position: relative;
		z-index:1;
	}
	.output-box:active{

	}
	.output-box:active .source-image{
		display: block;
	}
	.output-box:active.output-image{
		opacity: 0;
	}
	.ctrl-box{
		padding:10px;
	}
}

code{
	background:rgba(0,0,0,.1);
	display: inline-block;
	padding:0 4px;
	margin:0 2px;
	border-radius:1px;
}

blockquote{
	display: inline-block;
	background:#EEE;
	color:#333;
	margin:0;
	padding:1em;
}
blockquote p{
	margin:0;
}


footer{
	padding:20px 20px 100px;
	line-height: 2;
}
footer hr{
	display: inline-block;
	vertical-align: middle;
	border:0;
	height:1em;
	margin:0 .2em;
	border-right:1px solid #DDD;
}