<!DOCTYPE html>
<meta charset="UTF-8">
<title>电子包浆 - 图片虚拟做旧工具 - 神奇海螺实验室</title>
<link rel="stylesheet" href="document.css">
<meta name="viewport" content="width=device-width,user-scalable=0">
<!-- <link rel="manifest" href="manifest.json" crossorigin="use-credentials"> -->
<div class="app">
    <h1>电子包浆</h1>
    <div class="output-box">
        <img class="source-image" :src="src" ref="img" @load="patina()" :style="`width:${width}px;`">
        <img class="output-image" :src="output" v-if="output" :style="`width:${width}px;`">
    </div>

<div class="ctrl-box">
    <div class="input-box">
        <button @click="chooseFileAndSetImageSrc()">选择或粘贴拖拽图片</button>
    </div>
    <div class="input-box">
        <label>
            <input type="checkbox" v-model="config.green">
            绿图
        </label>
        <label>
            <input type="checkbox" v-model="config.watermark">
            水印
        </label>
        <label>
            <input type="checkbox" v-model="config.isPop">
            波普
        </label>
        <span v-if="current">{{current}}</span>
        <!-- <input type="range" min=1 max=100 step="1" v-model.number="config.green"> {{config.green}} -->
    </div>

    <div class="input-box" v-if="config.isPop">
        <h4>波普</h4>
        <input type="range" min=1 max=12 step="1" v-model.number="config.pop"> {{config.pop}}*{{config.pop}}
    </div>
    
    <div class="input-box" v-else>
        <h4>做旧次数</h4>
        <input type="range" min=1 max=100 step="1" v-model.number="config.round"> {{config.round}}
    </div>

    <div class="input-box">
        <h4>质量</h4>
        <input type="range" min=0 max=100 step="1" v-model.number="config.quality"> {{config.quality}}%
    </div>


    <div class="input-box" style="padding:2em 0;">
        <label>
            <input type="checkbox" v-model="debug">
            高级选项
        </label>
    </div>
    <div class="debug-box" v-if="debug">
        <button @click="patina()" :disabled="runing">更新</button>
        <!-- <button @click="createCanvas()">createCanvas</button> -->

        <div class="input-box">
            <label>
                <input type="checkbox" v-model="config.rand">
                随机
                <small>多维度提升劣化效果</small>
            </label>
            <br>
            <label>
                <input type="checkbox" v-model="config.preview">
                缩略图
                <small>对性能影响极大，谨慎使用</small>
            </label>
        </div>

        <div class="input-box">
            <h4>模糊 <small>高效率</small></h4>
            <input type="range" min=1 max=20 step="0.1" v-model.number="config.mix"> {{config.mix}}
        </div>
        <div class="input-box">
            <h4>略缩图最大长边</h4>
            <input type="range" min=200 max=1200 step="100" v-model.number="config.maxWidth"> {{config.maxWidth}}px
        </div>
        <div class="input-box">
            <h4>相对原图尺寸缩放</h4>
            <input type="range" min=1 max=100 step="0" v-model.number="config.zoom"> {{config.zoom}}%
        </div>
        <hr>
        <div class="input-box">
            <h4>yuv造假绿化 <small>和真实多次效果有差距</small></h4>
            <input type="range" min=-20 max=20 step="1" v-model.number="config.g"> {{config.g}}
            <br>
            <input type="range" min=-2 max=2 step=".1" v-model.number="config.gy"> y*={{config.gy}}
        </div>

        <div class="input-box">
            <h4>卷积 <small>convolute</small></h4>
            <select v-model="config.convoluteName">
                <option :value="null">不进行线条处理</option>
                <option :value="convoluteName" v-for="convoluteName in convoluteNames" :key="convoluteName">{{convoluteName}}</option>
            </select>
        </div>
        <div class="input-box">
            <h4>偏移</h4>
            <input type="range" min=-20 max=20 step="1" v-model.number="config.shiftx"> {{config.shiftx}}px
            <br>
            <input type="range" min=-20 max=20 step="1" v-model.number="config.shifty"> {{config.shifty}}px
        </div>
        <div class="input-box">
            <h4>对比度</h4>
            <input type="range" min=0 max=2 step="0.1" v-model.number="config.contrast"> {{config.contrast}}
        </div>
        <div class="input-box">
            <h4>亮度</h4>
            <input type="range" min=-1 max=1 step="0.1" v-model.number="config.light"> {{config.light}}
        </div>
        <div class="input-box">
            <h4>噪点</h4>
            <input type="range" min=1 max=125 step="1" v-model.number="config.lightNoise"> {{config.lightNoise}}
        </div>
        <div class="input-box">
            <h4>颗粒</h4>
            <input type="range" min=1 max=125 step="1" v-model.number="config.darkNoise"> {{config.darkNoise}}
        </div>
        <div class="input-box">
            <h4>watermarkSize</h4>
            <input type="range" min=.5 max=1.5 step="0.1" v-model.number="config.watermarkSize"> *{{config.watermarkSize}}
        </div>
        <pre>{{JSON.stringify(config,0,4)}}</pre>
        
    </div>

    <div class="tip-box">
        <h4>参考</h4>
        <ul>
            <li>
                JPEGreen Simulator
                <small><a href="https://m13253.github.io/JPEGreen/">https://m13253.github.io/JPEGreen/</a></small>
            </li>
            <li>
                Use libjpeg-turbo for YUV->RGB conversion in jpeg encoder
                <small><a href="https://github.com/google/skia/commit/c7d01d3e1d3621907c27b283fb7f8b6e177c629d">https://github.com/google/skia/commit/c7d01d3e1d3621907c27b283fb7f8b6e177c629d</a></small>
            </li>
        </ul>
    </div>

</div>

</div>


<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="patina.js"></script>
<script src="document.js"></script>